page-list {

	.Anulada{
		color: #ff4444;
	}
	
	.Finalizada{
		color: #0e5938;
	}
	
	.Fallada{
		color: #ff4444;
	}
	
	.white{
		color: white;
	}
	
	.left{
		text-align: left;
	}
	
	.center{
		text-align: center;
	}
	
	.right{
		text-align: right;
	}
	
	.botonMas{
		float: right;
		background: white;
		color: black;
		margin: 0;
		-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0), 0 3px 1px -2px rgba(0, 0, 0, 0), 0 1px 5px 0 rgba(0, 0, 0, 0);
	}

}