<ion-content>
	<p col-10 style="text-align:right;    margin-bottom: 0;" (click)="next()">Ver más</p>
	<ion-slides pager spaceBetween="-75" #slides>
		<ion-slide *ngFor="let item of citas">
			<div class="fb-card -vcita -gradient">
			    <div class="card_row" style="margin-bottom:1rem;">
			        <div class="left" style="flex: 0;border:none;padding:0;align-items: center;">
			            <div class="card_subtitle -white" style="font-size: 1.4rem;">
			                {{item.diaSemana}}
			            </div>
			            <div class="card_time -white">
			                {{item.dia}}
			                <span>
			                {{item.mes}}
			                </span>
			            </div>
			            <div class="card_subtitle -white" style="font-size:1rem;">
			                {{item.ano}}
			            </div>
			        </div>
			        <div class="right" style="flex: 1;align-items: flex-end;justify-content: center;padding:0;">
			            <div style="display:flex;flex-direction:column;align-items: flex-end;">
			                <div class="card_time -white">
			                    {{item.hora}}
			                    <span style="display:inline;">
			                        H
			                    </span>
			                </div>
			                <div class="card_subtitle -white">
			                    Duración:
			                    <span>
			                        {{item.Duracion}}'
			                    </span>
			                </div>
			            </div>
			        </div>
			    </div>
			    <div class="card_content -bg-white">
			        <div class="card_row">
			            <div style="margin-bottom:1rem;">
			                <div class="card_label">
			                    Tratamiento
			                </div>
			                <div class="card_title">
			                   {{item.tratamiento}}
			                </div>
			            </div>
			        </div>
			        <div class="card_separator">
			        </div>
			        <div class="card_row">
			            <div class="left">
			                <div class="card_label">
			                    Profesional
			                </div>
			                <div class="card_container">
			                    <div class="avatar">
			                        <img alt="" [src]="domSanitizer.bypassSecurityTrustUrl(item.Img)" />
			                    </div>
			                    <div class="card_title">
			                       {{item.usuario}}
			                    </div>
			                </div>
			            </div>
			            <div class="right">
			                <div class="card_label">
			                    Estado de la cita
			                </div>
			                <div class="card_estado">
			                     {{item.situacion}}
			                </div>
			            </div>
			        </div>
			        <div class="card_separator">
			        </div>
			        <div class="card_row">
			            <div class="left">
			                <div class="card_label">
			                    Dirección
			                </div>
			                <div class="card_container">
			                    <div class="avatar">
			                        <svg xmlns="http://www.w3.org/2000/svg" width="40" viewBox="0 0 42 42" style="margin: .5rem 0 0 1rem;">
			                            <path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"></path>
			                        </svg> 
			                    </div>
			                    <div class="card_subtitle">
			                        Calle de Caleruega, 67
			                        <br />
			                        3ª Planta A
			                        <br />
			                        28033 - Madrid
			                    </div>
			                </div>
			            </div>
			            <div class="right">
			                <div class="card_label">
			                    Calendario
			                </div>
			                <div class="card_container">
			                    <div class="avatar">
			                        <svg xmlns="http://www.w3.org/2000/svg" width="40" viewBox="0 0 42 42" style="margin: .5rem 0 0 1rem;">
			                            <path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"></path>
			                        </svg> 
			                    </div>
			                    <div class="card_subtitle" (click)="addEvent(item.timestampINI,item.timestampFIN)">
			                        Haz
			                        <span class="-pink">
			                            click
			                        </span>
			                        para añadir
			                        <br />
			                            la cita a tu calendario
			                    </div>
			                </div>
			            </div>
			        </div>
			        <div class="card_separator">
			        </div>
			        <div class="card_row">
			            <div style="width:100%;">
			                <div class="card_label" style="margin-top:1rem;">
			                    Gestiona tu cita
			                </div>
			                <div class="card_container" style="display:flex;justify-content: space-evenly;align-items: center;">
			                    <a class="fb-btn -pill -anular" (click)="presentConfirm('anular', item.fechaDecimal, item.horaDecimal);">
			                        Anular
			                    </a>
			                    <a *ngIf="item.confirmar == '0'" class="fb-btn -pill -confirmar" (click)="presentConfirm('confirmar', item.fechaDecimal, item.horaDecimal);">
			                        Confirmar
			                    </a>			                    
			                    <a class="fb-btn -pill -cambiar" (click)="presentConfirm('cambiar', item.fechaDecimal, item.horaDecimal);">
			                        Cambiar
			                    </a>
			                </div>
			            </div>
			        </div>
			    </div>
			</div>
		</ion-slide>
	</ion-slides>
</ion-content>