page-pedir-cita-elegir {
	ion-slides {
	    margin-top: 0px;
	    height: auto;
	}

	ion-slide {
	    padding: 0 60px;
	}

	.swiper-slide{
		height: 80%;
		padding: 0rem 6rem 0rem 4rem;
	}

	.slide-zoom {
	    text-align: center;
	    display: block;
	    width: 100%;
	    height: 100%;
	}

	ion-title{
		text-align:center;
		margin-left: -15%;
		z-index: 0;
	}

	.back-button.show-back-button{
		z-index: 1111;
	}

	ion-icon{
		color: map-get($colors, secondary);
		font-size: 2em;		
	}

	.toolbar-background-md{
		background: white;
	}

	.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
		background-image: none !important; 
		width: 0%;
	}
}
