<ion-header no-border>
  <ion-navbar>
    <ion-title>{{ 'CHAT.TITLE' | translate }}</ion-title>
    <ion-buttons right>
      <button ion-button (click)="callClinica()">
        <ion-icon name="fb-telephone"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding class="bg">
  <div class="page-chat" style="height: 100vh;display: flex; align-items: flex-end; flex-direction: column-reverse;">
    <div class="message-wrap" style="width:100%; margin: -25rem 0;">
      <div class="message" *ngFor="let msg of chats" [class.left]=" msg.user !== nickname "
        [class.right]=" msg.user === nickname ">
        <div *ngIf="msg.user === nickname">
          <img class="user-img" onerror="this.src='assets/imgs/person.png';" src="{{menuData}}" />
        </div>
        <div *ngIf="msg.user !== nickname">
          <img class="user-img" onerror="this.src='assets/imgs/person.png';"
            src="http://cfb2.ddns.net:4232/assets/img/personal/chat/{{msg.image}}.jpg" />
        </div>
        <div class="msg-detail">
          <div class="msg-content">
            <p class="line-breaker" *ngIf="msg.type != 'image'" style="word-break: break-all;">
              {{msg.message}}
            </p>
            <img *ngIf="msg.type == 'image'" src="{{msg.message}}" (click)="printImage(msg.message)" />
            <div class="msg-info">
              <p>
                {{msg.sendDate | date:'dd/MM/yyyy HH:mm'}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="msg.user !== nickname">
      <img class="user-img" onerror="this.src='assets/imgs/person.png';"
        src="http://cfb2.ddns.net:4232/assets/img/personal/chat/{{msg.image}}.jpg" />
    </div>
    <div class="msg-detail">
      <div class="msg-content">
        <p class="line-breaker ">
          {{msg.message}}
        </p>
        <div class="msg-info">
          <p>
            {{msg.sendDate | date:'dd/MM/yyyy HH:mm'}}
          </p>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
</ion-content>
<ion-footer no-border [style.height]="showEmojiPicker ? '255px' : '55px'">
  <ion-toolbar>
    <form class="conversation-compose">
      <div class="emoji" #chatBA>
        <svg (click)="switchEmojiPicker()" xmlns="http://www.w3.org/2000/svg" width="24" height="24" id="smiley"
          x="3147" y="3209">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M9.153 11.603c.795 0 1.44-.88 1.44-1.962s-.645-1.96-1.44-1.96c-.795 0-1.44.88-1.44 1.96s.645 1.965 1.44 1.965zM5.95 12.965c-.027-.307-.132 5.218 6.062 5.55 6.066-.25 6.066-5.55 6.066-5.55-6.078 1.416-12.13 0-12.13 0zm11.362 1.108s-.67 1.96-5.05 1.96c-3.506 0-5.39-1.165-5.608-1.96 0 0 5.912 1.055 10.658 0zM11.804 1.01C5.61 1.01.978 6.034.978 12.23s4.826 10.76 11.02 10.76S23.02 18.424 23.02 12.23c0-6.197-5.02-11.22-11.216-11.22zM12 21.355c-5.273 0-9.38-3.886-9.38-9.16 0-5.272 3.94-9.547 9.214-9.547a9.548 9.548 0 0 1 9.548 9.548c0 5.272-4.11 9.16-9.382 9.16zm3.108-9.75c.795 0 1.44-.88 1.44-1.963s-.645-1.96-1.44-1.96c-.795 0-1.44.878-1.44 1.96s.645 1.963 1.44 1.963z"
            fill="#7d8489"></path>
        </svg>
      </div>
      <input #chat_input class="input-msg" [(ngModel)]="data.message" name="message" (keyup.enter)="sendMessage()"
        (focusin)="onFocus()" placeholder="Escribe un mensaje" />
      <div class="photo" #chatBD (click)="openChooseImage()">
        <i class="fas fa-camera"></i>
      </div>
      <button class="send" #chatBC (click)="sendMessage()">
        <div class="circle">
          <i class="far fa-arrow-alt-circle-right"></i>
        </div>
      </button>
    </form>
    <emoji-picker ngDefaultControl [(ngModel)]="data.message"></emoji-picker>
  </ion-toolbar>
</ion-footer>
<!--
<ion-footer no-border [style.height]="showEmojiPicker ? '255px' : '55px'">
	<div class="input-wrap">
		<button ion-button #chatBA clear icon-only item-right (click)="switchEmojiPicker()">
			<ion-icon name="md-happy"></ion-icon>
		</button>
		<textarea #chat_input style="max-height: 3.5rem;" placeholder="Escribe un mensaje" [(ngModel)]="data.message" (keyup.enter)="sendMessage()"	(focusin)="onFocus()">	</textarea>
		<button ion-button #chatBD clear icon-only item-right (click)="openChooseImage()">
			<ion-icon name="ios-camera" ios="ios-camera" md="md-camera"></ion-icon>
		</button>
		<button ion-button #chatBC clear icon-only item-right (click)="sendMessage()">
			<ion-icon name="ios-send" ios="ios-send" md="md-send"></ion-icon>
		</button>
	</div>
	<emoji-picker  ngDefaultControl [(ngModel)]="data.message"></emoji-picker>
</ion-footer>-->
