<ion-content>
	<ion-slides slidesPerView="1.3" spaceBetween="18" centeredSlides="true" *ngIf="infoR.fechaFutura == true">
		<ion-slide *ngFor="let item of recall">
			<div class="fb-card -vcita -gradient">
			    <div class="card_row" style="margin-bottom: 1rem;">
			        <div class="left" style="flex: 0;border:none;padding:0;align-items: center;">
			            <div class="card_subtitle -white" style="font-size: 1rem;">
			                {{item.diaSemana}}
			            </div>
			            <div class="card_time -white" style="font-size:3.2rem;">
			                {{item.dia}}
			                <span>
			                {{item.mes}}
			                </span>
			            </div>
			            <div class="card_subtitle -white" style="font-size:1rem;">
			                {{item.ano}}
			            </div>
			        </div>
			        <div class="right" style="flex: 1;align-items: flex-end;justify-content: center;padding:0;">
			            <div style="display:flex;flex-direction:column;align-items: flex-end;">
			                <div class="card_time -white">
			                    {{item.hora}}
			                    <span style="display:inline;">
			                        H
			                    </span>
			                </div>
			                <div class="card_subtitle -white">
			                    Duración:
			                    <span>
			                        {{item.Duracion}}'
			                    </span>
			                </div>
			            </div>
			        </div>
			    </div>
			    <div class="card_content -bg-white">
			        <div class="card_row">
			            <div>
			                <div class="card_label">
			                    Tratamiento
			                </div>
			                <div class="card_title">
			                   {{item.tratamiento}}
			                </div>
			            </div>
			        </div>
			        <div class="card_separator">
			        </div>
			        <div class="card_row">
			            <div class="left">
			                <div class="card_label">
			                    Profesional
			                </div>
			                <div class="card_container">
			                    <div class="avatar">
			                        <img alt="" [src]="domSanitizer.bypassSecurityTrustUrl(item.Img)" />
			                    </div>
			                    <div class="card_title">
			                       {{item.usuario}}
			                    </div>
			                </div>
			            </div>
			            <div class="right">
			                <div class="card_label">
			                    Estado de la cita
			                </div>
			                <div class="card_estado">
			                     {{item.situacion}}
			                </div>
			            </div>
			        </div>
			        <div class="card_separator">
			        </div>
			        <div class="card_row">
			            <div class="left">
			                <div class="card_label">
			                    Dirección
			                </div>
			                <div class="card_container">
			                    <div class="avatar">
			                        <ion-icon name="fb-location" item-right></ion-icon> 
			                    </div>
			                    <div class="card_subtitle">
			                        C/Caleruega, 67
			                        3ª Planta A
			                        <br />
			                        28033 - Madrid
			                    </div>
			                </div>
			            </div>
			            <div class="right">
			                <div class="card_label">
			                    Calendario
			                </div>
			                <div class="card_container">
			                    <div class="avatar">
			                        <ion-icon name="fb-calendar" item-right></ion-icon>
			                    </div>
			                    <div class="card_subtitle" (click)="addEvent(item.timestampINI,item.timestampFIN)">
			                        Haz
			                        <span class="-pink">
			                            click
			                        </span>
			                        para añadir
			                        la cita a tu calendario
			                    </div>
			                </div>
			            </div>
			        </div>
			        <div class="card_separator">
			        </div>
			        <div class="card_row">
			            <div style="width:100%;">
			                <div class="card_label" style="margin-top:1rem;">
			                    Gestiona tu cita
			                </div>
			                <div class="card_container" style="display:flex;justify-content: space-evenly;align-items: center;">
			                    <a class="fb-btn -pill -anular" (click)="presentConfirm('anular', item.fechaDecimal, item.horaDecimal);">
			                        Anular
			                    </a>
			                    <a *ngIf="item.confirmar == '0'" class="fb-btn -pill -confirmar" (click)="presentConfirm('confirmar', item.fechaDecimal, item.horaDecimal);">
			                        Confirmar
			                    </a>			                    
			                    <a class="fb-btn -pill -cambiar" (click)="presentConfirm('cambiar', item.fechaDecimal, item.horaDecimal);">
			                        Cambiar
			                    </a>
			                </div>
			            </div>
			        </div>
			    </div>
			</div>
		</ion-slide>
	</ion-slides>
	<div padding *ngIf="infoR.fechaFutura != true">
		<fb-titulo-subtitulo [info]="infoR" ></fb-titulo-subtitulo>
		<p>{{infoR.texto}}</p>
		<br />
		<p style=" max-height: 10rem;">
			<fb-button-icon [name]="botonPedirCita" [class]="botonPedirCita.class" (click)="openPage(botonPedirCita.openPage,botonPedirCita.tipo)"> </fb-button-icon>
		</p>
	</div>
	<ion-footer padding *ngIf="infoR.Footer == true">
	<div class="fb-card -v4">
	    <div class="left">
	        <div class="avatar">
	        	
	        	<!-- Gradiente -->
				<svg enable-background="new 0 0 64 64" height="0px" viewBox="0 0 64 64" width="0px" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px"> <defs> <linearGradient gradientUnits="userSpaceOnUse" id="fb-shadow-gradient3" x1="0" x2="100%" y1="0" y2="100%"> <stop offset="0" stop-color="#81a8d9"> </stop> <stop offset="1" stop-color="#f3a7c9"> </stop> </linearGradient> </defs> </svg>
				<!-- Fin Gradiente -->

	            <svg style="height: 4rem; margin: 0 0 -1rem;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"> 
	            	<g fill="url(#fb-shadow-gradient3)" stroke="none">
	            		<defs>
	            			<path id="a" d="M.5 2h63.7v60.4H.5z"/>
	            		</defs>
	            		<clipPath id="b">
	            			<use xlink:href="#a" overflow="visible"/>
	            		</clipPath>
	            		<path d="M63.5 19.8c-1-10.2-8.1-17.5-17.1-17.5-6 0-11.5 3.2-14.5 8.4-3.1-5.2-8.3-8.4-14.2-8.4-9 0-16.2 7.4-17.1 17.5-.1.5-.4 2.8.5 6.6C2.4 31.9 5.5 37 9.9 41l22 19.9L54.2 41c4.4-4 7.4-9 8.7-14.6.9-3.8.6-6.2.6-6.6zm-2.9 6c-1.2 5.1-4 9.7-8 13.3L31.8 57.7 11.5 39.2c-4-3.7-6.8-8.3-8-13.3-.9-3.7-.5-5.7-.5-5.8V20c.8-8.9 7-15.3 14.7-15.3 5.7 0 10.7 3.5 13.1 9.1l1.1 2.6 1.1-2.6c2.3-5.5 7.6-9.1 13.4-9.1 7.7 0 13.9 6.4 14.7 15.4 0 .1.3 2.1-.5 5.7zm0 0" clip-path="url(#b)"/>
	            		</g>
	            	</svg>
	        </div>
	    </div>
	    <div class="center" style="justify-content: space-evenly;">
	        <div class="card_title">
	            {{infoR.tituloFooter}}
	        </div>
	        <div class="card_subtitle">
	           {{infoR.subTituloFooter}}
	        </div>
	    </div>
	    <div class="right">
	        <div class="card_time">
	            {{infoR.mesesFooter}}
	            <span>
	                meses
	            </span>
	        </div>
	    </div>
	</div>
	</ion-footer>
</ion-content>