page-recall {
	.Anulada{
		color: #ff4444;
	}
	
	.Finalizada{
		color: #0e5938;
	}
	
	.Fallada{
		color: #ff4444;
	}
	
	.tabbar{
		opacity: 1 !important;
		min-height: 6rem;
	}	
		
	.card-md p{
		font-size: 20px;
	}
	
	.botonMas {
		float: right;
		background: white;
		color: black;
		margin: 0;
		-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0), 0 3px 1px -2px rgba(0, 0, 0, 0), 0 1px 5px 0 rgba(0, 0, 0, 0);
	}

	.card-background-page {
		ion-card {
			position: relative;
			text-align: center;
			max-height: 32%;
		}

		.card-title {
			position: absolute;
			top: 60%;
			font-size: 2.0em;
			width: 100%;
			font-weight: bold;
			color: #000;
		}

		.card-subtitle {
			font-size: 1.0em;
			position: absolute;
			top: 78%;
			width: 100%;
			color: #000;
		}  
	}
}
