fb-titulo-subtitulo {
  h1 {
    color: map-get($colors, pink-dark);
    font-size: 2.5rem;
    font-style: normal;
    font-stretch: normal;
    font-weight: 400;
    line-height: 35px;
    text-align: left;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 1, 5px;
    margin-bottom: 0rem;
  }
  h2 {
    color: map-get($colors, black);
    font-size: 15px;
    font-style: normal;
    font-stretch: normal;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 1, 5px;
  }
}