fb-titulo-subtitulo {

	h1{
		color: map-get($colors, secondary);
		font-size: 28px;
		font-style: normal;
		font-stretch: normal;
		font-weight: 400;
		line-height: 35px;
		text-align: left;
		text-transform: none;
		text-decoration: none;
		letter-spacing: 1,5px;
	}

	h2{
		color: map-get($colors, grey);
		font-size: 15px;
		font-style: normal;
		font-stretch: normal;
		font-weight: 400;
		line-height: 19px;
		text-align: left;
		text-transform: none;
		text-decoration: none;
		letter-spacing: 1,5px;
	}
}
