page-home {

	ion-title {
		position: absolute;
		top: 0;
		left: 0;
		padding: 0 90px 1px;
		width: 100%;
		height: 100%;
		text-align: center;
	}
	
	.card-background-page {

	  ion-card {
		position: relative;
		text-align: center;
		max-height: 32%;
	  }

	  .card-title {
		position: absolute;
		top: 60%;
		font-size: 2.0em;
		width: 100%;
		font-weight: bold;
		color: #000;
	  }

	  .card-subtitle {
		font-size: 1.0em;
		position: absolute;
		top: 78%;
		width: 100%;
		color: #000;
	  }

	}

}
