<div class="back"> 
	<ion-header no-border>
  		<ion-navbar>
    		<ion-buttons left>
	    		<button ion-button menuToggle>
	      			<ion-icon name="menu"></ion-icon>
    			</button>
    		</ion-buttons>

    		<ion-title>Ferrus & Bratos</ion-title>

    		<ion-buttons right>
	    		<button ion-button style="font-size: 2rem;color:white;margin-right:1rem;" (click)="callClinica()">
	      			<ion-icon name="fb-telephone"></ion-icon>
	    		</button>
    		</ion-buttons>

  		</ion-navbar>
	</ion-header>

	<h1 style="margin-bottom:1rem;color:white;font-weight:bold;">Próximas citas</h1> 

	<ion-slides pager style="" slidesPerView="1.3" spaceBetween="18" centeredSlides="true" *ngIf="cards?.length > 0" >
  		<ion-slide class="slide" *ngFor="let card of cards; let i = index" (click)="goToCitas(i)" >
			<div class="cardCita">
				<div class="cardCita__left">
					<div class="cardCita__date">
						<div class="cardCita__day">
							{{card.dia}}
						</div>
						<div class="cardCita__month">
							{{card.mes}}
						</div>
					</div>
					<div class="cardCita__hour">
						{{card.hora}}
					</div>
				</div>
				<div class="cardCita__right">
					<div class="cardCita__tto tratamiento">
						{{card.tratamiento}}
					</div>
					<div class="cardCita__dr">
						<div class="cardCita__avatar">
							<img [src]="domSanitizer.bypassSecurityTrustUrl(card.imagen)" style=" border-radius: 50%;"/>
						</div>
						<div class="cardCita__drname">
							{{card.doctor}}
						</div>
					</div>
				</div>
			</div>
	  	</ion-slide>
	</ion-slides>
	<div *ngIf="cards?.length <= 0" style=" max-height: 10rem; max-width: 77%; display: block;">
  		<p> Actualmente no tienes citas </p>
	</div>
</div>


<div class="menu">
	<ion-row style="display:flex;align-items:center;">
		<h1 col-9 style="padding:0px;margin-bottom: 0;margin-top:0;font-weight: bold;">Menú</h1>
		<p col-3 style="text-align:right;padding:0px;font-size:1.3rem;margin:0px;" (click)="next()">Ver más</p>
	</ion-row>
	<ion-row class="square">
		<ion-slides #slides pager>
			<div *ngFor="let c of cardsMenu; let i=index">
				<ion-slide class="slide" style="padding:0" *ngIf="i == 0">
					<ion-row style="padding:4%;">
						<div *ngFor="let c of cardsMenu| slice:0:6 ; let j=index" col-4>
							<fb-button-icon *ngIf="j<6" [name]="c" [class]="c.class" (click)="openPage(c.openPage,c.tipo)"> </fb-button-icon>
						</div>
					</ion-row>
				</ion-slide>
				<ion-slide class="slide" style="padding:0" *ngIf="i == 5">
					<ion-row style="padding:4%;">
						<div *ngFor="let c of cardsMenu | slice:6; let j=index" col-4>
							<fb-button-icon [name]="c" [class]="c.class" (click)="openPage(c.openPage,c.tipo)"> </fb-button-icon>
						</div>
					</ion-row>
				</ion-slide>
			</div>			
		</ion-slides>	
	</ion-row>
	
</div>
