tabConsultarCitas {
  ion-title {
    text-align: center;
    margin-left: -15%;
    z-index: 0;
  }
  .back-button.show-back-button {
    z-index: 1111;
  }
  .tab-button {
    padding: 0 10px!important;
    min-height: 5.6rem!important;
  }
  .tabbar {
    border: none!important;
  }
  ion-icon {
    color: map-get($colors, secondary);
    font-size: 2em;
  }
  .toolbar-background-md {
    background: white;
  }
  ion-tabs .tab-button[aria-selected=true] {
    border-bottom: 2px solid map-get($colors, pink-dark);
    color: map-get($colors, black)!important;
  }
  ion-tabs .tab-button {
    border-bottom: 2px solid map-get($colors, grey);
    color: map-get($colors, grey);
    padding-top: 5% !important;
  }
  .tabbar {
    padding: 0rem 4rem 0rem 4rem;
    background: white !important;
    margin-top: -6%;
  }
  .header-md::after,
  .tabs-md[tabsPlacement="top"] > .tabbar::after,
  .footer-md::before,
  .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    background-image: none !important;
    width: 0%;
  }
  ion-slides {
    margin-top: 0px;
    height: auto;
  }
  ion-slide {
    padding: 0 60px;
  }
  .swiper-slide {
    height: 80%;
    padding: 0;
  }
  .swiper-wrapper {
    transform: translate3d(39px, 0px, 0px);
  }
  .slide-zoom {
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
  }
}