tabConsultarCitas {
	ion-title{
		text-align:center;
		margin-left: -15%;
		z-index: 0;
	}

	.back-button.show-back-button{
		z-index: 1111;
	}

	ion-icon{
		color: map-get($colors, secondary);
		font-size: 2em;		
	}

	.toolbar-background-md{
		background: white;
	}

	.tabs-md .tab-button[aria-selected=true]{
		border-bottom: 2px solid map-get($colors, pink-dark);
		color: map-get($colors, black);
	}

	.tabs-md .tab-button{
		border-bottom: 2px solid map-get($colors, grey);
		color: map-get($colors, grey);
		padding-top: 5% !important;
	}

	.tabbar{
		padding: 0rem 4rem 0rem 4rem;
	    background: white !important;
	    margin-top: -1rem;
	}

	.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
		background-image: none !important; 
		width: 0%;
	}

	ion-slides {
	    margin-top: 0px;
	}

	ion-slide {
	    padding: 0 60px;
	}

	.swiper-slide{
		height: 80%;
		padding: 0rem 6rem 0rem 4rem;
	}

	swiper-container-horizontal > .swiper-pagination-bullets {
	    bottom: 0;
	}

	.swiper-pagination-bullet-active {
	    background: map-get($colors, secondary);
	    opacity: 1;
	}

	.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
		bottom: 15%;
		display: block !important;
	}

	.slide-zoom {
	    text-align: center;
	    display: block;
	    width: 100%;
	    height: 100%;
	}

}
