page-sugerencias {
	.list-md .item-block .item-inner {
		margin-right: 16px;
	}
	.list-md > .item-block:last-child ion-label, .list-md > .item-block:last-child .item-inner, .list-md > .item-wrapper:last-child ion-label, .list-md > .item-wrapper:last-child .item-inner{
		margin-right: 0;
	}
}
