page-consejos-personalizados {

	ion-title{
		text-align:center;
		margin-left: -15%;
		z-index: 0;
	}

	ion-icon{
		color: map-get($colors, secondary);
		font-size: 2em;		
	}

	.toolbar-background-md{
		background: white;
	}
}
