page-login-olvido {
  .back-button.show-back-button {
    z-index: 1111;
  }
  ion-title {
    text-align: center;
    margin-left: -15%;
    z-index: 0;
  }
  ion-icon {
    color: map-get($colors, secondary);
    font-size: 2em;
  }
  .toolbar-background-md {
    background: white;
  }
  .item-inner {
    padding-right: 0!important;
  }
  .scroll-content {
    padding: 3rem!important;
  }
  .text-input {
    letter-spacing: 1px;
    font-size: 1.5rem;
  }
  .item-md {
    padding-right: 16px;
  }
  ion-item {
    padding: 0!important;
    margin: 0!important;
  }
  ion-item:first-child {
    border-top: 0!important;
  }
  .olvido {
    text-align: right;
    color: map-get($colors, pink-dark);
    padding-right: 6%;
  }
  .list-md .item-input:last-child {
    border-bottom: 1px solid #dedede;
    padding-left: 0px;
    margin-left: 16px;
    width: 90%;
  }
  .footer-md::before,
  .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    height: 0px;
  }
}
