page-change-password {
  ion-title {
    text-align: center;
    margin-left: -15%;
    z-index: 0;
  }
  ion-item {
    padding-left: 0!important;
    border: none!important;
  }
  .item-inner {
    padding-right: 0!important;
    border-bottom: 0.55px solid #c8c7cc!important;
  }
  ion-icon {
    color: map-get($colors, grey-medium);
    width: 2.3rem!important;
    margin-right: 0!important;
  }
  ion-title{
    text-align:center;
    margin-left: -15%;
    z-index: 0;
  }
  .back-button.show-back-button{
    z-index: 1111;
  }
  .toolbar-background-md {
    background: white;
  }
  .olvido {
    text-align: right;
    color: map-get($colors, pink-dark);
    padding-right: 6%;
  }
  span {
    color: map-get($colors, pink-dark);
  }
  .footer-md::before,
  .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    height: 0px;
  }
  .list-md .item-input:last-child {
    border-bottom: 1px solid #dedede;
    padding-left: 0px;
    margin-left: 16px;
    width: 90%;
  }
  .footer-md::before,
  .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    height: 0px;
  }
}