// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

	.imgTop{
		background-image: url("https://imagejournal.org/img/black.jpg");
		height: 25%;
		background-repeat: no-repeat;
		background-size: cover;
		opacity: 0.7;
	}
	
	.primary 	{ color: #81a7d4};
	.secondary	{ color: #f1a6c7};
	.danger		{ color: #ff4444};
	.light		{ color: #f4f4f4};
	.dark		{ color: #2E2E2E};
	
	.marginRight{
		margin-right: 4%;
	}
	
	.pPerfil{
		margin-left: 10%;
		margin-top: 2%;
		color: #f4f4f4;
		font-weight: bold;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	}
	
	.iPerfil{
		margin-left: 10%;
		margin-top: -4%;
		color: #f4f4f4;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	}
	
	.imgPerfil{				
		margin-left:10%;
		margin-top:7%;
		width: 25%;
	}
	
	.imgPerfilDiv{
		width: 100%;
		height: 100%;
	}