// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
    font-family: '../assets/fonts/theinhard/theinhardtregular_italic';
    src: url('../assets/fonts/theinhard/theinhardt-regularita-webfont.eot');
    src: url('../assets/fonts/theinhard/theinhardt-regularita-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/theinhard/theinhardt-regularita-webfont.woff') format('woff'),
         url('../assets/fonts/theinhard/theinhardt-regularita-webfont.ttf') format('truetype'),
         url('../assets/fonts/theinhard/theinhardt-regularita-webfont.svg#theinhardtregular_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'theinhardtregular';
    src: url('../assets/fonts/theinhard/theinhardt-regular-webfont.eot');
    src: url('../assets/fonts/theinhard/theinhardt-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/theinhard/theinhardt-regular-webfont.woff') format('woff'),
         url('../assets/fonts/theinhard/theinhardt-regular-webfont.ttf') format('truetype'),
         url('../assets/fonts/theinhard/theinhardt-regular-webfont.svg#theinhardtregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: '../assets/fonts/theinhard/theinhardtbold';
    src: url('../assets/fonts/theinhard/theinhardt-bold-webfont.eot');
    src: url('../assets/fonts/theinhard/theinhardt-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/theinhard/theinhardt-bold-webfont.woff') format('woff'),
         url('../assets/fonts/theinhard/theinhardt-bold-webfont.ttf') format('truetype'),
         url('../assets/fonts/theinhard/theinhardt-bold-webfont.svg#theinhardtbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: '../assets/fonts/theinhard/theinhardtlight_italic';
    src: url('../assets/fonts/theinhard/theinhardt-lightita-webfont.eot');
    src: url('../assets/fonts/theinhard/theinhardt-lightita-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/theinhard/theinhardt-lightita-webfont.woff') format('woff'),
         url('../assets/fonts/theinhard/theinhardt-lightita-webfont.ttf') format('truetype'),
         url('../assets/fonts/theinhard/theinhardt-lightita-webfont.svg#theinhardtlight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: '../assets/fonts/theinhard/theinhardtlight';
    src: url('../assets/fonts/theinhard/theinhardt-light-webfont.eot');
    src: url('../assets/fonts/theinhard/theinhardt-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/theinhard/theinhardt-light-webfont.woff') format('woff'),
         url('../assets/fonts/theinhard/theinhardt-light-webfont.ttf') format('truetype'),
         url('../assets/fonts/theinhard/theinhardt-light-webfont.svg#theinhardtlight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: '../assets/fonts/theinhard/theinhardtbold_italic';
    src: url('../assets/fonts/theinhard/theinhardt-boldita-webfont.eot');
    src: url('../assets/fonts/theinhard/theinhardt-boldita-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/theinhard/theinhardt-boldita-webfont.woff') format('woff'),
         url('../assets/fonts/theinhard/theinhardt-boldita-webfont.ttf') format('truetype'),
         url('../assets/fonts/theinhard/theinhardt-boldita-webfont.svg#theinhardtbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: theinhardtregular !important;
    letter-spacing: 1.5px;
}