// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@font-face {
  font-family: '../assets/fonts/theinhard/theinhardtregular_italic';
  src: url('../assets/fonts/theinhard/theinhardt-regularita-webfont.eot');
  src: url('../assets/fonts/theinhard/theinhardt-regularita-webfont.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/theinhard/theinhardt-regularita-webfont.woff') format('woff'), url('../assets/fonts/theinhard/theinhardt-regularita-webfont.ttf') format('truetype'), url('../assets/fonts/theinhard/theinhardt-regularita-webfont.svg#theinhardtregular_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'theinhardtregular';
  src: url('../assets/fonts/theinhard/theinhardt-regular-webfont.eot');
  src: url('../assets/fonts/theinhard/theinhardt-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/theinhard/theinhardt-regular-webfont.woff') format('woff'), url('../assets/fonts/theinhard/theinhardt-regular-webfont.ttf') format('truetype'), url('../assets/fonts/theinhard/theinhardt-regular-webfont.svg#theinhardtregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '../assets/fonts/theinhard/theinhardtbold';
  src: url('../assets/fonts/theinhard/theinhardt-bold-webfont.eot');
  src: url('../assets/fonts/theinhard/theinhardt-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/theinhard/theinhardt-bold-webfont.woff') format('woff'), url('../assets/fonts/theinhard/theinhardt-bold-webfont.ttf') format('truetype'), url('../assets/fonts/theinhard/theinhardt-bold-webfont.svg#theinhardtbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '../assets/fonts/theinhard/theinhardtlight_italic';
  src: url('../assets/fonts/theinhard/theinhardt-lightita-webfont.eot');
  src: url('../assets/fonts/theinhard/theinhardt-lightita-webfont.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/theinhard/theinhardt-lightita-webfont.woff') format('woff'), url('../assets/fonts/theinhard/theinhardt-lightita-webfont.ttf') format('truetype'), url('../assets/fonts/theinhard/theinhardt-lightita-webfont.svg#theinhardtlight_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '../assets/fonts/theinhard/theinhardtlight';
  src: url('../assets/fonts/theinhard/theinhardt-light-webfont.eot');
  src: url('../assets/fonts/theinhard/theinhardt-light-webfont.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/theinhard/theinhardt-light-webfont.woff') format('woff'), url('../assets/fonts/theinhard/theinhardt-light-webfont.ttf') format('truetype'), url('../assets/fonts/theinhard/theinhardt-light-webfont.svg#theinhardtlight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '../assets/fonts/theinhard/theinhardtbold_italic';
  src: url('../assets/fonts/theinhard/theinhardt-boldita-webfont.eot');
  src: url('../assets/fonts/theinhard/theinhardt-boldita-webfont.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/theinhard/theinhardt-boldita-webfont.woff') format('woff'), url('../assets/fonts/theinhard/theinhardt-boldita-webfont.ttf') format('truetype'), url('../assets/fonts/theinhard/theinhardt-boldita-webfont.svg#theinhardtbold_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: theinhardtregular !important;
  letter-spacing: 1.5px;
}

@media screen and (min-width: 321px) {
  html {
    font-size: 70%;
  }
}

@media screen and (min-width: 376px) {
  html {
    font-size: 75%;
  }
}

.fb-card {
  margin: 1.5rem 0 2.5rem;
  padding: 1.2rem 1rem;
  background-color: map-get($colors, white);
  border-radius: 10px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
  & .btn.-rounded {
    box-shadow: 4px 10px 41px 0px rgba(237, 122, 173, 0.37)
  }
  & .card_title {
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: map-get($colors, grey-dark);
  }
  & .card_subtitle {
    color: map-get($colors, grey-medium);
    margin-bottom: 0.1rem;
    font-size: 1.4rem;
  }
  & .card_row {
    display: flex;
    padding: 0% 0 2% 0;
  }
  & .card_separator {
    height: 1px;
    background-color: map-get($colors, grey);
    margin: 0.8rem 0;
    position: relative;
    margin-right: -1rem;
    margin-left: -1rem;
  }
  & .card_time {
    text-align: center;
    color: map-get($colors, pink-dark);
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 0;
    & span {
      font-weight: normal;
      font-size: 1.6rem;
    }
  }
  & .card_paragraph {
    margin-top: 1.5rem;
  }
  /*
   * V1. Card a 3 columnas con avatar o icono a la izq, contenido en centro y boton derecha
   */
  &.-v1,
  &.-v3,
  &.-v4 {
    display: flex;
    .left,
    .right {
      flex: 0 10%;
      display: flex;
      align-items: center;
    }
    .left {
      justify-content: start;
    }
    .right {
      justify-content: flex-end;
    }
    .center {
      flex: 1 60%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0 3vw;
    }
    .avatar {
      width: 40px;
      & svg {
        width: 100%;
      }
    }
    & .card_title {
      font-size: 1.5rem;
    }
    & .card_subtitle {
      font-size: 1.2rem;
    }
  }
  /*
   * V2. Card para presupuestos y facturas
   */
  &.-v2 {
    .left {
      flex: 1 70%;
    }
    .right {
      flex: 0 30%;
      display: flex;
      justify-content: flex-end;
    }
    .-price {
      font-size: 1.8rem;
    }
    & .card_title {
      margin-bottom: 0.5rem;
    }
    & .card_row {
      padding: 0;
    }
  }
  &.-v3 {
    display: block;
    .right {
      flex: 1 35%;
      & .card_title {
        font-size: 1.5rem;
      }
    }
    .left {
      flex: 0 10%;
      & .card_title {
        font-size: 2.5rem;
        font-weight: normal;
      }
    }
    .center {
      flex: 0 45%;
    }
  }
  &.-v4 {
    & .card_title {
      font-size: 1.6rem;
    }
  }
  &.-vfaq {
    padding: 2rem;
    line-height: 1.3rem;
    & .card_title {
      letter-spacing: 1.5;
      font-weight: normal;
    }
  }
  &.-vcita {
    & .card_content {
      margin-left: -1rem;
      margin-right: -1rem;
      margin-bottom: -1.2rem;
      padding: 1rem 1rem;
      border-radius: 0px 0px 10px 10px;
    }
    & .card_label {
      text-transform: uppercase;
      font-size: 1rem;
      text-align: left;
      color: map-get($colors, grey-medium);
      margin-bottom: 0.6rem;
    }
    & .card_row {
      padding: 0;
    }
    & .card_title {
      font-weight: normal;
      text-align: left;
      margin-bottom: 5%;
    }
    & .card_subtitle {
      margin-top: 0;
    }
    & .left,
    & .right {
      flex: 0 50%;
      display: flex;
      flex-direction: column;
    }
    & .left {
      justify-content: center;
      border-right: 1px solid map-get($colors, grey);
      padding: 0rem 0.5rem 0rem 0;
    }
    & .right {
      padding: 1rem 0 1rem 1rem;
    }
    & .card_time {
      font-size: 2.3rem;
      margin: 0.3rem 0;
      & span {
        display: block;
        text-transform: uppercase;
        letter-spacing: 4px;
        line-height: 2px;
        font-size: 1rem;
      }
    }
    & .card_separator {
      margin-top: 0;
      margin-bottom: 0;
    }
    & .avatar {
      width: 30px;
      & svg {
        fill: map-get($colors, pink-dark);
      }
      & .icon {
        width: 2rem!important;
      }
    }
    @media screen and (max-width: 320px) {
      & .avatar:nth-child(1) {
        display: none;
      }
    }
    & .card_container {
      display: flex;
      & .card_title {
        margin-left: 1rem;
        font-size: 1.4rem;
        text-align: left;
      }
      & .card_subtitle {
        font-size: 1rem;
        margin-left: 0.5rem;
        text-align: left;
      }
    }
    & .card_estado {
      padding: 0.7rem 0 0.7rem 0.7rem;
      border-left: 3px solid map-get($colors, pink-dark);
      color: map-get($colors, grey-dark);
      font-size: 1.5rem;
      text-align: left;
    }
  }
  &.-vgraph {
    padding: 0rem;
    flex: 0 25%;
    width: 30%;
    & .card_subtitle {
      margin-top: 0;
      margin-bottom: 0.5rem;
      font-size: 1.45rem;
    }
    & .card_title {
      font-size: 1.15rem;
    }
    & .card_graph {
      border-radius: 0 0 10px 10px;
      overflow: hidden;
      height: 50px;
    }
  }
}

.card_container {
  display: flex;
  justify-content: space-between;
}

.fb-btn {
  display: block;
  &.-rounded {
    display: flex;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    & svg {
      height: 100%;
      width: 50%;
    }
  }
  &.-pill {
    border-radius: 40px;
    background-color: map-get($colors, pink);
    color: map-get($colors, white);
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    text-decoration: none;
    flex: 1;
    text-align: center;
    margin: 0 0.2rem;
    &.-anular {
      border: 2px solid #EE7177;
      color: #EE7177;
      background-color: map-get($colors, white);
    }
    &.-cambiar {
      border: 2px solid #ECB964;
      color: #ECB964;
      background-color: map-get($colors, white);
    }
    &.-confirmar {
      background-color: #2ED573;
      padding: 0.7rem 0.7rem;
      font-size: 1.4rem;
      box-shadow: 4px 10px 41px 0px rgba(46, 213, 115, 0.37);
    }
  }
}

/*
 * Colores de fondo
 */

.-bg-grey {
  background-color: map-get($colors, grey-light)!important;
}

.-bg-pink {
  background-color: map-get($colors, pink-dark)!important;
}

.-bg-pink-light {
  background-color: map-get($colors, pink)!important;
}

.-bg-blue {
  background-color: map-get($colors, blue)!important;
}

.-bg-black {
  background-color: map-get($colors, black)!important;
}

.-bg-white {
  background-color: map-get($colors, white)!important;
}

/*
 * Colores de frente
 */

.-pink {
  color: map-get($colors, pink-dark)!important;
}

.-blue {
  color: map-get($colors, blue)!important;
}

.-grey {
  color: map-get($colors, grey)!important;
}

.-grey-medium {
  color: map-get($colors, grey-medium)!important;
}

.-white {
  color: map-get($colors, white)!important;
}

.-black {
  color: map-get($colors, black)!important;
}

.-gradient {
  background: linear-gradient(110deg, map-get($colors, blue) 20%, map-get($colors, pink) 100%);
}

.avatar {
  & img {
    width: 100%;
    border-radius: 50%;
  }
}

.title {
  color: map-get($colors, pink-dark);
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 0.5rem;
}

.subtitle {
  color: map-get($colors, black);
  font-size: 0.9rem;
  font-weight: normal;
  margin: 0 0 2rem;
}

p {
  color: map-get($colors, grey-dark);
  font-size: 1.4rem;
  line-height: 1.8rem;
}

.page-chat .chatB {
  margin-top: -.2rem;
}

.page-chat ion-content .scroll-content {
  background-color: #f5f5f5;
}

.page-chat ion-page {
  padding: 1rem !important;
}

.page-chat ion-footer {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.11);
  background-color: #fff;
  height: 255px;
}

.page-chat .line-breaker {
  white-space: normal;
}

.page-chat .input-wrap {
  padding: 8px;
  display: flex;
}

.page-chat .input-wrap textarea {
  flex: 1;
  border: 0;
  border-bottom: 1px #fff;
  border-style: solid;
}

.page-chat .message-wrap .message {
  position: relative;
  padding: 7px 0;
}

.page-chat .message-wrap .message .user-img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.page-chat .message-wrap .message .msg-detail {
  max-width: 250px;
}

.page-chat .message-wrap .message .msg-detail p {
  margin: 0;
}

.page-chat .message-wrap .message .msg-detail .msg-content {
  position: relative;
  margin-top: 5px;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
}

.page-chat .message-wrap .message .msg-detail .msg-content span.triangle {
  background-color: #fff;
  border-radius: 2px;
  height: 8px;
  width: 8px;
  top: 12px;
  display: block;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
}

.page-chat .message-wrap .message .msg-detail .msg-content .msg-info p {
  font-size: 0.8rem;
  color: #595959;
  letter-spacing: 1px;
  margin-top: 0.4rem;
}

.page-chat .message-wrap .message.left {
  display: flex;
}

.page-chat .message-wrap .message.left .msg-content {
  background-color: #ed7aad;
  float: left;
  border-radius: 0 20px 20px;
  margin-left: 15px;
}

.page-chat .message-wrap .message.left .msg-detail {
  padding-top: 15px;
  max-width: 250px;
}

.page-chat .message-wrap .message.left .user-img {
  left: 0;
}

.page-chat .message-wrap .message.left .msg-content {
  color: #343434;
}

.page-chat .message-wrap .message.left .msg-content span.triangle {
  border-top-width: 0;
  border-right-width: 0;
  left: -5px;
}

.page-chat .message-wrap .message.left .msg-content .line-breaker {
  color: #fff;
}

.page-chat .message-wrap .message.left .msg-content .msg-info p {
  font-size: 0.8rem;
  color: #f8f8f8;
  letter-spacing: 1px;
  margin-top: 0.4rem;
}

.page-chat .message-wrap .message.right {
  display: flex;
  flex-direction: row-reverse;
}

.page-chat .message-wrap .message.right .msg-detail {
  padding-top: 15px;
}

.page-chat .message-wrap .message.right .msg-detail .msg-info {
  text-align: right;
}

.page-chat .message-wrap .message.right ion-spinner {
  position: absolute;
  right: 10px;
  top: 50px;
}

.page-chat .message-wrap .message.right .msg-content {
  background-color: #fff;
  border-radius: 20px 0 20px 20px;
  margin-right: 15px;
}

/*
 Componente Scss cardcita
 */

.cardCita {
  background-color: hsla(0, 0%, 100%, 0.3);
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  height: 23vh;
  color: white;
  &__left {
    flex: 0 25%;
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 6px 0 0 6px;
  }
  &__right {
    flex: 1 75%;
    display: flex;
    padding: 1.5rem 1rem 0.5rem;
    flex-direction: column;
    justify-content: space-between;
  }
  &__date {}
  &__day {
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 3rem;
  }
  &__month {
    font-size: 1.5rem;
    letter-spacing: 5px;
    text-transform: uppercase;
  }
  &__hour {
    color: white;
    font-size: 1.5rem;
  }
  &__tto {
    letter-spacing: 3px;
  }
  &__dr {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__avatar {
    flex: 0 27%;
    display: flex;
    align-items: center;
  }
  &__drname {
    flex: 1 73%;
    font-size: 1.5rem;
    text-align: left;
    margin-left: 1rem;
  }
}

/*
 * Custom Icons
 */

ion-icon {
  &[class*="fb-"] {
    // Instead of using the font-based icons
    // We're applying SVG masks
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 1em;
    height: 1em;
  } // custom icons
  &[class*="fb-user"] {
    mask-image: url(../assets/icon/user.svg);
  }
  &[class*="fb-mail"] {
    mask-image: url(../assets/icon/lnr-envelope.svg);
  }
  &[class*="fb-dni"] {
    mask-image: url(../assets/icon/lnr-license.svg);
  }
  &[class*="fb-calendar"] {
    mask-image: url(../assets/icon/lnr-calendar-full.svg);
  }
  &[class*="fb-telephone"] {
    mask-image: url(../assets/icon/lnr-phone-handset.svg);
  }
  &[class*="fb-location"] {
    mask-image: url(../assets/icon/placeholder.svg);
  }
  &[class*="fb-phone"] {
    mask-image: url(../assets/icon/lnr-smartphone.svg);
  }
  &[class*="fb-plus-linear"] {
    mask-image: url(../assets/icon/lnr-plus-circle.svg);
  }
  &[class*="fb-alarm"] {
    mask-image: url(../assets/icon/lnr-alarm.svg);
  }
  &[class*="fb-password"] {
    mask-image: url(../assets/icon/lnr-lock.svg);
  }
  &[class*="fb-home"] {
    mask-image: url(../assets/icon/lnr-home.svg);
  }
  &[class*="fb-heart"] {
    mask-image: url(../assets/icon/lnr-heart.svg);
  }
  &[class*="fb-documents"] {
    mask-image: url(../assets/icon/documents.svg);
  }
  &[class*="fb-profile"] {
    mask-image: url(../assets/icon/user-plus.svg);
  }
  &[class*="fb-chat"] {
    mask-image: url(../assets/icon/bubble-question.svg);
  }
  &[class*="fb-suggest"] {
    mask-image: url(../assets/icon/thumbs-up.svg);
  }
  &[class*="fb-exit"] {
    mask-image: url(../assets/icon/lnr-exit.svg);
  }
  &[class*="fb-pin"] {
    mask-image: url(../assets/icon/pushpin.svg);
  }
}

@media screen and (min-width: 321px) {
  [padding] .scroll-content {
    padding: 3rem!important;
  }
}

/*
 * Menu
 */

ion-menu {
  & ion-content {
    background-color: map-get($colors, black)!important;
  }
  & .scroll-content {
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  & .item {
    padding-left: 0!important;
    background-color: map-get($colors, black)!important;
    color: map-get($colors, white)!important;
    border: none!important;
    letter-spacing: 2px!important;
  }
  & .item-inner {
    border-bottom: none!important;
  }
  & ion-label i {
    margin-right: 2rem;
  }
  & ion-icon {
    width: 2rem!important;
    min-width: inherit!important;
  }
}

.imgPerfilDiv {
  display: flex;
  & img {
    width: 5rem;
    height: 100%;
  }
  & .container {
    margin-left: 2rem;
    margin-left: 2rem;
    width: 70%;
    & .pPerfil {
      margin-top: 0;
      margin-bottom: 0.5rem;
      font-size: 1.5rem;
      font-weight: bolder;
      color: map-get($colors, white)!important;
    }
    & .iPerfil {
      font-size: 1rem;
      margin-top: 0;
      color: map-get($colors, grey-light)!important;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}