<ion-header no-border>
	<ion-navbar>
		<ion-title>Mis Domiciliaciones</ion-title>
		  <ion-buttons right>
			<button ion-button (click)="openPage('chat')">
				<ion-icon name="fb-chat"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content padding>
	
    <div>
    	<fb-titulo-subtitulo *ngIf="tituloSubtitulo" [info]="tituloSubtitulo" ></fb-titulo-subtitulo>
    </div>

    <p>Contrary to popular belief/opinion. Del Longman Dictionary of Contemporary Englishcontrary to popular belief/opinioncontrary to popular belief/opinionused to say that something is true even though people believe the opposite Contrary to popular belief, a desert can be very cold.</p>
    
	<div *ngFor="let card of cards">
        <div class="fb-card -v2" (click)="openPage(card.numplan)">
            <div class="card_row">
                <div class="left">
                    <div class="card_title">
                        {{card.numplan}} - {{card.titulo}}
                    </div>
                    <div class="card_subtitle">
                       {{card.cuotas}}
                    </div>
                </div>
                <div class="right">
                    <div class="card_subtitle">
                       {{card.fecha}}
                    </div>
                </div>
            </div>
            <div class="card_separator">
            </div>
            <div class="card_row">
                <div class="left">
                    <div class="card_title -price">
                        {{card.importe}} €
                    </div>
                    <div class="card_subtitle">
                        pendiente: {{card.pendiente}} €
                    </div>
                </div>
                <div class="right">
                    <a class="fb-btn -rounded -bg-pink">
                        <svg version="1.1" style="margin-left: 0.3rem;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" viewBox="0 0 20 20">
						<path fill="#fff" d="M5 20c-0.128 0-0.256-0.049-0.354-0.146-0.195-0.195-0.195-0.512 0-0.707l8.646-8.646-8.646-8.646c-0.195-0.195-0.195-0.512 0-0.707s0.512-0.195 0.707 0l9 9c0.195 0.195 0.195 0.512 0 0.707l-9 9c-0.098 0.098-0.226 0.146-0.354 0.146z"></path>
						</svg>
                    </a>
                </div>
            </div>
        </div>
	</div>
</ion-content>