<ion-header no-border>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mis Domiciliaciones</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
	
    <div style=" margin: 2rem;">
    	<fb-titulo-subtitulo *ngIf="tituloSubtitulo" [info]="tituloSubtitulo" ></fb-titulo-subtitulo>
    </div>

    <p style=" margin: 2rem;">Contrary to popular belief/opinion. Del Longman Dictionary of Contemporary Englishcontrary to popular belief/opinioncontrary to popular belief/opinionused to say that something is true even though people believe the opposite Contrary to popular belief, a desert can be very cold.</p>
    
	<div *ngFor="let card of cards" style=" margin: 2rem;">
        <div class="fb-card -v2">
            <div class="card_row">
                <div class="left">
                    <div class="card_title">
                        {{card.numplan}} - {{card.titulo}}
                    </div>
                    <div class="card_subtitle">
                       {{card.cuotas}}
                    </div>
                </div>
                <div class="right">
                    <div class="card_subtitle">
                       {{card.fecha}}
                    </div>
                </div>
            </div>
            <div class="card_separator">
            </div>
            <div class="card_row">
                <div class="left">
                    <div class="card_title -price">
                        {{card.importe}} €
                    </div>
                    <div class="card_subtitle">
                        pendiente: {{card.pendiente}} €
                    </div>
                </div>
                <div class="right">
                    <a class="fb-btn -rounded -bg-pink" (click)="openPage(card.numplan)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" viewBox="0 0 42 42" style="margin: .5rem 0 0 1rem;">
                            <path fill="#fff" stroke="#fff" d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"></path>
                        </svg> 
                    </a>
                </div>
            </div>
        </div>
	</div>
</ion-content>