page-plan-economico {
  ion-title {
    text-align: center;
    z-index: 0;
  }
  .back-button.show-back-button {
    z-index: 1111;
  }
  ion-icon {
    color: map-get($colors, secondary);
    font-size: 2em;
  }
  .toolbar-background-md {
    background: white;
  }
}