page-mi-salud {
	
	.back{
		margin: -25%;
    	height: 70%;
    	background: linear-gradient(150deg, map-get($colors, primary) 20%, map-get($colors, secondary) 100%);
    	border-radius: 50% / 25%;
    	padding: 25% 10% 0% 35%;
    	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12) !important;
	}

	.back-button.show-back-button {
	    color: white;
	}

	ion-header {
  		.toolbar {
    		position: absolute;
    		.toolbar-background {
      			background: transparent;
    		}
    		.toolbar-title {
      			color: white;
    		}
  		}
	}

	ion-title {
		text-align:center;
		margin-left: -15%;
		z-index: 0;
	}

	ion-button{
		color:white;
	}

	ion-slides {
	    margin-top: 0px;
	    height: 200px;
	}

	ion-slide {
	    padding: 0 60px;
	}

	.swiper-slide{
		height: 80%;
		margin-top: 2%;
	}

	.swiper-container-horizontal > .swiper-pagination-bullets {
	    bottom: 0;
	}

	.square .swiper-pagination-bullet-active {
	    background: map-get($colors, secondary);
	    opacity: 1;
	}

	.swiper-pagination-bullet-active {
	    background: white;
	    opacity: 1;
	}

	.bar-button-menutoggle-md {
	    color: white;
	}

	.square{
		height: 12rem;
	}

	.tratamiento{
		color:white;
		font-size: 2.5rem;    
		margin-top: 6%;       
	    overflow: hidden;
    	text-overflow: ellipsis;
    	display: -webkit-box;
    	-webkit-line-clamp: 2;
    	-webkit-box-orient: vertical;
    	text-align: left;

	}

	.doctor{
		color:white; 
		max-height: 5rem;   
	    overflow: hidden;
    	text-overflow: ellipsis;
    	display: -webkit-box;
    	-webkit-line-clamp: 2;
    	-webkit-box-orient: vertical;
    	text-align: left;

	}

	.tratamiento:first-letter {
	    text-transform: uppercase;
	}

	.button{
		background: white;
		border-radius: 2rem;
		box-shadow: 0 3px 20px rgba(0,0,0,.12) !important;
		height: -webkit-fill-available;
	}

	.cien{
		width: 100%;
	}
}
