page-mis-documentos {

	  .card-background-page {

	  ion-card {
		position: relative;
		text-align: center;
		max-height: 32%;
	  }

	@media (max-width: 400px) {
        .card-title {
			font-size: 1.1em;
	  	}
	  	.card-subtitle {
			font-size: .9em;
		}
    }

    @media (min-width: 400px) {
        .card-title {
			font-size: 1.3em;
	  	}
	  	.card-subtitle {
			font-size: 1.0em;
		}
    }

  	  .card-title {
		position: absolute;
		top: 4.5rem; /* 60% */
		color: #000;
		text-align: left;
		text-transform: uppercase;
    	letter-spacing: 2px;
	  }

	  .card-subtitle {
		position: absolute;
		top: 7rem; /* 78% */
		color: #000;
		text-align: left;
		max-width: 66%;
	  }
	}
}
