page-mis-documentos {
  background-color: white;
  .back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 55vh;
    position: relative;
    background: linear-gradient(150deg, map-get($colors, primary) 20%, map-get($colors, secondary) 100%); //border-radius: 50% / 25%;
    padding: 10% 5% 5% 5%; //box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12) !important;
    &::after {
      background-image: url('../assets/imgs/curva.png');
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      content: "";
      position: absolute;
      background-size: cover;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: bottom center;
    }
  }
  .back-button.show-back-button {
    color: white;
    z-index: 1111;
  }
  ion-header {
    .toolbar {
      position: absolute;
      .toolbar-background {
        background: transparent;
      }
      .toolbar-title {
        color: white;
      }
    }
  }
  ion-title {
    text-align: center;
    margin-left: -15%;
    z-index: 0;
  }
  ion-button {
    color: white;
  }
  ion-slides {
    //margin-top: 0px;
    //height: 200px;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    height: auto;
  }
  ion-slide {
    //padding: 0 60px;
    margin-bottom: 2rem;
  }
  .swiper-container {
    overflow: visible;
  }
  .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: -10px;
  }
  .square .swiper-pagination-bullet-active {
    background: map-get($colors, secondary);
    opacity: 1;
  }
  .swiper-pagination-bullet-active {
    background: white;
    opacity: 1;
  }
  .bar-button-menutoggle-md {
    color: white;
  }
  .tratamiento {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .doctor {
    color: white;
    max-height: 5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-align: left;
  }
  .tratamiento:first-letter {
    text-transform: uppercase;
  }
  .button {
    background: white;
    border-radius: 2rem;
    box-shadow: 0 3px 20px rgba(0, 0, 0, .12) !important;
    height: -webkit-fill-available;
  }
  .cien {
    width: 100%;
  }
  .menu {
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 42vh;
  }
}