<ion-header no-border>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Pedir nueva cita</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

	<div style=" margin: 4rem;">
	   <fb-titulo-subtitulo *ngIf="tituloSubtitulo" [info]="tituloSubtitulo" ></fb-titulo-subtitulo>
    </div>

    <p style=" margin: 4rem;">Contrary to popular belief/opinion. Del Longman Dictionary of Contemporary Englishcontrary to popular belief/opinioncontrary to popula</p> 
    <p style=" margin: 0 0 0 4rem;">Elije el profesional</p>
    <ion-slides centeredSlides="true"  slidesPerView="3.3" slidesOffsetBefore="20" spaceBetween="18">
  		<ion-slide class="slide" *ngFor="let card of doctores" (click)="selectDr(card)" style=" padding: 1rem 0 1rem 0;">
  			<ion-row>
	    		<button [class]="card.class + ' button'">
	    			<p><img src="{{card.Img}}" style="border-radius: 50%;width: 50%;"/></p>
	    			<p [class]="card.class">{{ card.usuario }}</p>
	    		</button>	    		
	    	</ion-row>
	  	</ion-slide>
	</ion-slides>

	<p style=" margin: 1rem 0 0px 4rem;">Preferencia de días</p>
	<ion-slides slidesPerView="3" style=" height: 15%;margin-bottom: -3rem; margin-left: 0.5rem; margin-right: 0.5rem;">
  		<ion-slide class="slide" *ngFor="let card of diasSemana" style="width: 40%">
  			<ion-row style=" padding: 1rem;">
	    		<button [class]="card.class + ' button'" (click)="selectDia(card)" style="height: 100%; margin: 0rem 0rem 4rem 0rem;">
	    			<p [class]="card.class" style="margin-top: 13%;">{{ card.dia }}</p>
	    		</button>	    		
	    	</ion-row>
	  	</ion-slide>
	</ion-slides>

	<p style=" margin: 1rem 0 0px 4rem;">A partir de las</p>
	<ion-slides slidesPerView="3" style=" height: 15%;margin-bottom: -3rem; margin-left: 0.5rem; margin-right: 0.5rem;">
  		<ion-slide class="slide" *ngFor="let card of horasDia" style="width: 40%">
  			<ion-row style=" padding-right: 1rem;padding-left: 1rem;">
	    		<button [class]="card.class + ' button'" (click)="selectHora(card)" style="height: 100%; margin: 0rem 0rem 4rem 0rem;">
	    			<p [class]="card.class" style="margin-top: 13%;">{{ card.hora }}</p>
	    		</button>	    		
	    	</ion-row>
	  	</ion-slide>
	</ion-slides>

	<p style=" text-align: center; margin: 2rem 0 0; font-size: 1rem;">2 de 4</p>

	<ion-row style="max-height: 9%;    display: flex;    margin: 0rem 1rem 0 1rem">
		<ion-col><fb-button [name]="bAnterior" [class]="bAnterior.class" (click)="anterior()" ></fb-button></ion-col>
		<ion-col><fb-button [name]="bSiguiente" [class]="bSiguiente.class" (click)="siguiente()" ></fb-button></ion-col>
	</ion-row>
</ion-content>